.form-box {
  width: 360px;
  padding: 20px;
}
.user-logo-container {
  height: 100px;
  width: 100px;
  margin: 20px auto;
  padding: 5px;
  border-radius: 50% !important
}
.user-logo {
  height: 100%;
  width: 100%;
  font-size: 120px;
  margin: -15px;
}
