.sended {
  padding: 10px;
  margin: 5px 10px;
  font-size: 110%;
  background: #353130;
  color: #91C7A9;
  border-radius: 3px;
}
.recived {
  padding: 10px;
  margin: 5px 10px;
  font-size: 110%;
  background: #353130;
  color: #e5dfc5;
  border-radius: 3px;
}
#chat-box {
  height: calc(100% - 4rem);
  width: 100%;
  position: fixed;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#message-input {
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  border-top: 1px solid;
}
#message-input .MuiFormControl-marginNormal-190 {
  margin-top: 0;
}
#message-input input[type="text"] {
  color: white !important;
}
.white-color {
  color: white !important;
}
